.client {
  margin: 0 auto;
  padding: 60px 0;

  @include desctop {
    padding: 94px 0;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__title {
  @include font(700, 28px, 1.18, 0.03em);
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
  @include desctop {
    @include font(700, 36px, 1.17, 0.03em);
    margin-bottom: 50px;
  }
}

.client__item {
  width: calc((100% - 30px) / 2);

  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desctop {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 0;
  color: #afb1b8;

  @include transitions(border border-radius color);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    color: #2196f3;
  }
  // @include tablet {
  //   width: 226px;
  // }
}

.client__icon {
  fill: currentColor;
}
