.feature {
  margin: 0 auto;
  @include mobile {
    //   max-width: 450px;
    padding: 60px 0;
  }
  @include tablet {
  }

  @include desctop {
    padding: 94px 0;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__icon {
  display: flex;
  text-align: center;
}

.feature__link {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 30px 0;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desctop {
    width: calc((100% - 90px) / 4);
  }
}

.feature__title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  @include font(700, 14px, 1.14, 00.03em);
  text-transform: uppercase;
  @include tablet {
    text-align: left;
  }
  .feature__title + .feature__title {
    width: 270px;
  }
}

.feature__text {
  width: 100%;
  @include font(400, 14px, 1.71, 00.03em);
  color: var(--mine-text-color);
}
