// .header {
//   // position: absolute;
//   padding: 24px 0 25px 0;
//   @include mobile {
//     // @media screen and(min-width:480px) {
//     //   padding-top: 16px 0 16px 0;
//     // }
//     border-bottom: 1px solid #ececec;
//     .container {
//       display: none;
//       //   align-items: center;
//     }
//     // .header-container {
//     //   @include mobile {
//     //     @media screen and(min-width:480px) {
//     //       width: 100%;
//     //       height: 60px;
//     //       justify-content: center;
//     //       padding-top: 16px 0 16;
//     //       padding-bottom: 16px;
//     //     }

// //     }
// //   }
// }

.header-container {
  display: none;
  @include tablet {
    display: flex;
    height: 80px;
    width: 100%;

    align-items: center;
    // justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
  // @include desctop {
  //   display: flex;
  //   height: 60px;
  //   width: 100%;

  //   align-items: center;
  //   justify-content: space-between;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // }

  // & .connect {
  //   @include tablet {
  //     display: flex;
  //     flex-wrap: wrap;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  // margin-right: 93px;
}

.logo__pre-title {
  color: var(--btn-link-hover-color);
}

.menu {
  @include tablet {
    display: flex;
    width: 288px;
    margin-left: 88px;
    justify-content: space-between;
  }
  @include desctop {
    display: flex;
  }
}

.form__menu {
  display: block;
  background-color: white;
  border-radius: none;
}

.form__input {
  height: 50px;
}

.menu-open-btn {
  display: block;
  padding: 0;
  margin-top: -6px;
  // margin-left: auto;
}

.menu__item {
  position: relative;
  &:not(:last-child) {
    @include desctop {
      // margin-right: 50px;
    }
  }
}

.menu__link {
  display: none;
  @include tablet {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

    @include transitions(color);
  }
  &:hover,
  &:focus {
    @include tablet {
      color: var(--btn-link-hover-color);
    }
  }
  &::after {
    content: "";
    @include tablet {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
      margin-top: 44px;
      opacity: 0;
      @include transitions(opacity);
    }
  }
  &:hover:after,
  &:focus:after {
    @include tablet {
      opacity: 1;
    }
  }
}

.studio,
.studio::after,
.portfolio-activ,
.portfolio-activ::after {
  color: var(--btn-link-hover-color);
  opacity: 1;
}

.connect {
  display: none;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
  }

  // @include desctop {
  //   display: flex;
  //   margin-left: auto;
  // }
}

.connect__mail {
  @include tablet {
    margin-bottom: 10px;
  }
}

.contacts {
  @include tablet {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-style: normal;
    @include font(500, 12px, 1.17, 0.02em);
    color: var(--mine-text-color);
    @include transitions(color);
  }

  @include desctop {
    @include font(500, 14px, 1.14, 0.02em);
  }
}

.connect__mail {
  margin-right: 30px;
  &:hover,
  &:focus {
    color: var(--btn-link-hover-color);
  }
}

.connect__tel {
  margin-left: auto;
  &:hover,
  &:focus {
    color: var(--btn-link-hover-color);
  }
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-logo-pf {
  margin-right: 95px;
}

.header-logo-pf {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__pre-logo-pf {
  color: var(--btn-link-hover-color);
}

.after-title--color-dark {
  color: #000000;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
    padding: 0;
  }
}

.header__mob-menu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  @include tablet {
    display: none;
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  text-decoration: none;
  @include font(500, 49px, 1.18, 0.02em);
  text-align: center;
  color: #212121;

  @include transitions(color);
  &:hover,
  &:focus {
    color: var(--btn-link-hover-color);
  }
}

.mob-menu__item:hover,
.mob-menu__item:focus {
  color: var(--btn-link-hover-color);
}

.close-open-btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: none;
}

.close-open-icon {
  @include transitions(transition fill);
  // &:focus,
  &:hover {
    fill: #2196f3;
  }
}
// .close-open-icon {
//   @include transitions(fill);
//   &:focus,
//   &:hover {
//     fill: #2196f3;
//   }
// }

// }
// .studio {
// }
// .menu {
// }
// .mob-connect {
//   // .mob-connect__list

//   &__list {
//   }

//   // .mob-connect__mail

//   &__mail {
//   }
// }
// .contacts {
// }
// .connect-mob {
//   // .connect-mob__icon

//   &__icon {
//   }
// }
// .mob-connect {
//   // .mob-connect__list

//   &__list {
//   }

.mob-connect__tel {
  margin-top: 100px;
  margin-bottom: 32px;
  @include font(500, 34px, 1.18, 0.02em);
  color: #2196f3;
}

.mob-connect__mail {
  margin-bottom: 64px;
  @include font(500, 24px, 1.17, 0.02em);
  color: #757575;
}

//   // .mob-connect__icon

//   &__icon {
//   }
// }
// .mob-soc {
.mob-soc__list {
  display: flex;
}

.mob-soc__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: #2196f3;
  text-decoration: none;
}

.mob-soc__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 0px;
  left: 214px;
  top: 726px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

//   &__list {
//   }

//   // .mob-soc__item

//   &__item {
//   }

//   // .mob-soc__link

//   &__link {
//   }

//   // .mob-soc__icon

//   &__icon {
//   }
// }
// .list {
// }
// .link {
// }
