.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.project-desc {
  width: 322px;
  padding: 20px 0;
  margin-left: 24px;
}

.project-item {
  position: relative;
  width: 450px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  @include tablet {
    margin-bottom: 0;
    border: 1px solid #eeeeee;
    width: calc((100% - 30px) / 2);
   @include desctop {
     width: 370px;
   }
  }

  &:last-child {
    margin-bottom: 0%;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n) {
    @include desctop {
      margin-right: 0;
    }
  }

  &:nth-last-child(-n + 3) {
    @include desctop {
      margin-bottom: 0;
    }
  }
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--mine-text-color);
}

.project-overlay {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.project-text-ovarlay {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  position: absolute;
  opacity: 1;
  transform: translateY(100%);
  @include transitions(transform);

  pointer-events: none;

  .project-item:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}
