.title {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // max-width: 1600px;
  margin: 0 auto;

  @include mobile {
    padding: 118px 0;
    max-width: 480px;
  }
  @include tablet {
    padding: 118px 0;
    max-width: 768px;
  }
  @include desctop {
    padding: 200px 0;
    max-width: 1600px;
  }
}
