:root {
  --btn-link-hover-color: #2196f3;
  --mine-text-color: #757575;
  --text-teambox-btnhover-color: #ffffff;
  --title-footer-bg-color: #2f303a;
  --btn-team-bg-color: #f5f4fa;
}

.subtitle {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
